.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
    padding: 0px 200px;
}

.main-info {
    transition: 1s;
}
.main-info:hover {
    scale: 1.1;
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    margin: 5px;
    width: 250px;
    height: 20px;
    border-radius: 15px;

    transition: 1s;
}
.form input:hover {
    border-color: rgb(255, 0, 0);
    scale: 1.2;
}

.form #order {
    margin: 10px;
    width: 260px;
    height: 30px;
    border: 4px solid rgb(255, 0, 0);
    border-radius: 15px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;

    transition: 1s;
}
.form #order:hover {
    scale: 1.1;
}
.form #order:active {
    scale: 1.0;
}


.main-title{
    text-align: center;
    margin: 5px;
    margin-top: 20px;
}

.title-2 {
    color: rgb(255, 0, 0);  
    text-align: center;
    margin: 5px;

    transition: 1s;
}
.title-2:hover {
    -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;
}

.main-info a {
    color: rgb(255, 0, 0);
}

#main-img {
    width: 400px;
    height: 400px;
}
.main-img {
    border: solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    overflow: hidden;
    transition: 1s;
}
.main-img:hover {
    border-radius: 0;
    scale: 1.1;
}
